<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #454545">
  <div class="container-fluid">
    <%# <a class="navbar-brand" href="#">Navbar</a> %>
    <%= link_to "Recipes", root_path, class: "navbar-brand", id: "logo" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a><%= link_to "Home", root_path, class: "nav-link active" %></a>
        </li>
        <li class="nav-item">
          <a><%= link_to "Recipies", recipes_path, class: "nav-link active" %></a>
        </li>
      <% if logged_in? %>

        <li class="nav-item">
            <a><%= link_to "Create New Recipe", new_recipe_path, class: "nav-link active" %></a>
        </li>
        <% end %>
        <li class="nav-item">
            <a><%= link_to "Chefs", chefs_path, class: "nav-link active" %></a>
        </li>
      </ul>
      <% if logged_in? %>
        <button class="btn btn-outline-light"><%= link_to "Profile", chef_path(current_chef), class: "nav-link" %></button> |
        <%= button_to "LogOut", logout_path, method: :delete, class: "btn btn-outline-light" %>
        <%else%>
        <button class="btn btn-outline-light"><%= link_to "SignUp", new_chef_path, class: "nav-link" %></button> |
        <button class="btn btn-outline-light"><%= link_to "LogIn", login_path, class: "nav-link" %></button>
        <%end%>
    </div>
  </div>
</nav>